/******************************************************************************/
/* Header																	  */
/******************************************************************************/

	/**************************************************************************/
	/* Header / Revolution Slider                                             */
	/**************************************************************************/
	
	.tp-rightarrow::before,
	.tp-rightarrow:hover::before
	{
		border-top:none;
		border-right:none;
	}
	
	.tp-leftarrow::before,
	.tp-leftarrow:hover::before
	{
		border-top:none;
		border-left:none;		
	}