/******************************************************************************/
/* Base																		  */
/******************************************************************************/

body
{
	color:#444444;
	font-size:15px;
	line-height:26px;
	font-style:normal;
	font-weight:normal;
	font-family:'Lora';
}